.poppins-semibold {
 font-family: "PoppinsSemiBold";
}

.poppins-medium {
 font-family: "PoppinsMedium";
}

.poppins-regular {
 font-family: "PoppinsRegular";
}

.poppins-light {
 font-family: "PoppinsLight";
}